@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
    background-color: #1f2235;
    
}


.header{
  width:100%;
  height: 100vh;
  background:url("./data/bg4.png");
  background-size: cover;
  color:white;
  background-repeat: no-repeat;
}

/* .header video {
    position: "absolute";
    width: "100%";
    left: "50%";
    top: "50%";
    height: "100%";
    object-fit: "cover";
    transform: "translate(-50%,-50%)";
    z-index: -10000;
} */

.navbar {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 1;
    background: rgb(31, 34, 53);
}

.navbar__container {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.navbar__left-logo img {
    /* background: url("./images/logo.png"); */
    width: 110px;
}

.navbar__right {
    display: flex;
    list-style-type: none;
    width:20%;
}

.navbar__right li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    padding: 0 15px;
}

.container {
    /* width:1200px; */
    margin: 0 auto;
}


/* GRid System */

.row {
    display: flex;
    width: 100%;
}




/* header- */

.header__content {
    display: flex;
    align-items: center;
    height: 130vh;
    width: 100%;
}

.header__ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.header__ul li {
    width: 50px;
    height: 50px;
    border: 3px solid #ff4a57;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header__ul li :hover{
    color:#6b79cf;
}

.header__ul li a{
    color:white;
    font-size:20px;
}


.banner_title h1{
    font-weight: bold;
    font-family:Poppins;
}
.cards{
    padding:auto 5rem;
    justify-content: center;
}

.card{
    background: #24263b;
    transition: background .5s ;
    border-radius: 0px;
    padding:1.5rem;
    margin: .8rem;
}
.card:hover{
    background-color: #ff4a57;
}

.service-icons{
    font-size: 3rem;
    transition: transform .7s;
    margin-left:.4rem;
}

.service-icons:hover{
    transform: rotateY(180deg);
}

.card h4{
    padding: 1rem .3rem;
}
.card p{
    padding:.3rem;
}



.about{
    color:#fff;
    background-color: #24263b;
}

.head_box{
    padding-top:6rem;
}

.about_content{
    display: flex;
    justify-content: center;
    padding:2rem;
    padding-top:5rem;
}

.about_content_right{
    font-size: 1rem;
    margin:3rem;
}

table td{
    padding: 0rem;
    border:none;
}

.underline{
    width:8%;
    height:2px;
    background-color: #ff4a57;
    margin:1rem auto;
}



.expert_box{
    padding: 8rem 0;
}



.hire-btn{
    border-radius:5rem;
    border: 3px solid #ff4a57;
    margin-top:2rem;
    padding:.6rem 2rem;
}



.expert_bar ul li{
    margin:2rem 0rem;
}

.progress{
    background-color: #1f2235;
    border-radius: 0rem;
}
.progress-bar{
    background-color: #ff4a57;
    padding-top:.5rem;
    height:5px;
}

.contact{
    background-color:#24263b;
}
.contact_cards{
    background-color: #1f2235;
    border-radius: .6rem ;
    padding:1.2rem;
    margin:3rem 2rem;
    display:flex;
}

.footer_section{
    background-color: #1f2235;
}
.footer__ul{
    display: flex;
    justify-content: space-around;
}

.footer__ul li {
    width: 60px;
    height: 60px;
    border: 3px solid #ff4a57;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.footer__ul li a{
    color:white;
    font-size:xx-large;
}
.footer__ul li a :hover{
    color:rgba(22, 4, 4, 0.418);
}
.footer__ul li:hover{
    border: 3px solid rgba(22, 4, 4, 0.418);
    color:#000000;
}